.dart_tool/
.idea/# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# IntelliJ related
.idea/
*.iml

# VS Code related
.vscode/

# Android related
**/android/**/gradle-wrapper.jar
**/android/**/gradle-wrapper.properties
**/android/**/gradle.properties
**/android/**/local.properties
**/android/**/app/build/

# iOS related
**/ios/Flutter/.last_build_id
**/ios/.generated/
**/ios/Pods/
**/ios/Runner.xcworkspace/
**/ios/build/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app_framework_info.plist
**/ios/Flutter/engine/
**/ios/Flutter/flutter_assets/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Web related
**/web/.dart_tool/
**/web/.packages
**/web/build/

# Linux related
**/linux/flutter/ephemeral/

# Windows related
**/windows/flutter/ephemeral/

# macOS related
**/macos/flutter/ephemeral/

# Symbolicated logs
**/flutter_*.log

# Obsolete files
*.lock